1. Using input() function take one number from the user and using ternary operators check whether the number is even or odd

In [ ]:
num = int(input("Enter a number: "))
result = "Even" if num % 2 == 0 else "Odd"
print(result)

Enter a number: 6
Even

2. Using input function take two number and then swap the number

In [ ]:
num = int(input("Enter a number: "))
num2 = int(input("Enter a number: "))
num, num2 = num2, num
print(num)
print(num2)

Enter a number: 2
Enter a number: 6
6
2

3. Write a Program to Convert Kilometers to Miles

In [ ]:
# Program to convert kilometers to miles

# Define the conversion factor
km_to_miles_conversion_factor = 0.621371

# Input: Ask the user for the distance in kilometers
kilometers = float(input("Enter distance in kilometers: "))

# Calculation: Convert kilometers to miles
miles = kilometers * km_to_miles_conversion_factor

# Output: Display the result
print(f"{kilometers} kilometers is equal to {miles:.2f} miles.")

Enter distance in kilometers: 50
50.0 kilometers is equal to 31.07 miles.

4. Find the Simple Interest on Rs. 200 for 5 years at 5% per year.

In [ ]:
# Define values
principal = 200  # Principal amount in Rs
rate_of_interest = 5  # Annual rate of interest in %
time = 5  # Time in years

# Calculate Simple Interest
simple_interest = (principal * rate_of_interest * time) / 100

# Display the result
print(f"The Simple Interest is Rs. {simple_interest:.2f}")

The Simple Interest is Rs. 50.00